<table class="table">
  <thead>
    <th>Name</th>
    <th>Owner</th>
    <th>Position</th>
    <th>Distance</th>
    <th>Actions</th>
  </thead>

  <tbody>
    <tr *ngFor="let row of shops">
      <td>{{row.shop.name}}</td>
      <td *ngIf="row.shop.owner === null"><i>Global</i></td>
      <td *ngIf="row.shop.owner !== null">{{row.shop.owner.pseudo}}</td>
      <td>[{{row.shop.xmin}}-{{row.shop.xmax}},{{row.shop.ymin}}-{{row.shop.ymax}},{{row.shop.zmin}}-{{row.shop.zmax}}]</td>
      <td>{{row.distance}}</td>
      <td>
        <a [routerLink]="['/yoursshops', row.shop.idShop]"><img src="/assets/button_go_into.png" style="width: 32px;" /></a>
        <button *ngIf="row.shop.owner !== null && currentPlayer.isOp" (click)="setToGlobalShop(row.shop)">Change to global shop</button>
        <button *ngIf="row.shop.owner !== currentPlayer && currentPlayer.isOp" (click)="setShopToYou(row.shop)">Assign this shop to you</button>
      </td>
    </tr>
  </tbody>
</table>>
