<div *ngIf="idPlayerConnected === null" class="jumbotron bg-danger">
  <h1>Login required</h1>
  <p>You must be connected to show this section</p>
</div>
<div *ngIf="idPlayerConnected !== null">
  <div *ngIf="itsYourShop === null">Loading...</div>
  <div *ngIf="itsYourShop === false" class="jumbotron bg-danger">
    <h1>Error!</h1>
    <p>It's not your shop, you can't manage it!</p>
  </div>
  <div>
    <form *ngIf="shop !== null" class="form-horizontal">
      <fieldset>
        <legend>Shop details</legend>

        <!-- Text input-->
        <div class="form-group col-md-5">
          <label class="col-md-4 control-label" for="textinput">Shop name</label>
          <div class="col-md-8">
            <input name="shopname" type="text" placeholder="Shop name" class="form-control input-md" [(ngModel)]="shop.name" />
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group col-md-5">
          <label class="col-md-4 control-label" for="textinput">Base margin</label>
          <div class="col-md-8">
            <input name="shopbasemargin" type="text" placeholder="placeholder" class="form-control input-md" [(ngModel)]="shop.baseMargin"
            />
          </div>
        </div>

        <!-- Button -->
        <div class="form-group col-md-2">
          <div class="col-md-12">
            <button class="btn btn-primary btn-block" (click)="validateSetProperties()">Save</button>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group col-md-6">
          <label class="col-md-4 control-label" for="textinput">Space</label>
          <div class="col-md-8">
            {{shop.space}} / {{spaceOccuped}} ({{percentOccuped}} % occuped)
          </div>
        </div>

        <!-- Button -->
        <div class="form-group col-md-6">
          <div class="col-md-12">
            <button class="btn btn-primary btn-block" (click)="buySpace(templaceBuySpace)">Buy space</button>
          </div>
        </div>
      </fieldset>
    </form>

    <table class="table">
      <thead>
        <th>Name</th>
        <th>Base price</th>
        <th>Margin</th>
        <th>NbToSell</th>
        <th>NbToBuy</th>
        <th>Quantity into shop</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr>
          <td colspan="7"><input style="width:100%;" class="form-control" type="text" name="filtername" [(ngModel)]="filter_name" (ngModelChange)="filterRefresh()"
              placeholder="Filter" /></td>
        </tr>
        <tr *ngFor="let lItem of itemsPaging">
          <td>{{lItem.name}}</td>
          <td>
            <div class="input-group" style="width:100px;">
              <span class="input-group-addon">
                <input type="checkbox" title="Set default value" [(ngModel)]="lItem.baseItem.isDefaultPrice" (ngModelChange)="checkItemModifications(lItem)" />
            </span>
              <input class="form-control" type="text" name="itemprice" [(ngModel)]="lItem.baseItem.basePrice" [disabled]="lItem.isDefaultPrice"
                (ngModelChange)="checkItemModifications(lItem)" placeholder="base price" />
            </div>
          </td>
          <td>
            <input style="width:100px;" class="form-control" type="text" name="itemprice" [(ngModel)]="lItem.realmargin" (ngModelChange)="checkItemModifications(lItem)"
              placeholder="-Default-" />
          </td>
          <td>
            <input style="width:100px;" class="form-control" type="text" name="itemprice" [(ngModel)]="lItem.baseItem.nbToSell"
              (ngModelChange)="checkItemModifications(lItem)" />
          </td>
          <td>
            <input style="width:100px;" class="form-control" type="text" name="itemprice" [(ngModel)]="lItem.baseItem.nbToBuy"
              (ngModelChange)="checkItemModifications(lItem)" />
          </td>
          <td>{{lItem.baseItem.nbIntoShop}}/{{lItem.nbIntoInventory}}</td>
          <td>
            <button class="btn btn-primary" (click)="take(lItem.baseItem, templateTake)" title="Take" [disabled]="shop.owner && lItem.baseItem.nbIntoShop === 0"><span class="glyphicon glyphicon-upload"></span></button>
            <button class="btn btn-primary" (click)="give(lItem.baseItem, templateGive)" title="Give" [disabled]="lItem.nbIntoInventory === 0"><span class="glyphicon glyphicon-download"></span></button>
            <button class="btn btn-primary" (click)="save(lItem)" title="Save" [disabled]="lItem.isModified === false"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            <button class="btn btn-primary" (click)="cancel(lItem)" title="Cancel" [disabled]="lItem.isModified === false"><span class="glyphicon glyphicon-floppy-remove"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display: flex;justify-content: center;">
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
        [maxSize]="10"></pagination>
    </div>
  </div>
</div>


<ng-template #templateTake>
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Take {{itemToBuyOrSell.name}}</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Quantity</label>
        <div class="col-md-8">
          <input name="takeQuantity" type="text" placeholder="Quantity to take" class="form-control input-md" #takeQuantity>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-6">
          <button class="btn btn-primary btn-block" (click)="takeAction(takeQuantity.value)">Take them</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-danger btn-block" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>

</ng-template>

<ng-template #templateGive>
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Give {{itemToBuyOrSell.name}}</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Quantity</label>
        <div class="col-md-8">
          <input name="giveQuantity" type="text" placeholder="Quantity to give" class="form-control input-md" #giveQuantity>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-6">
          <button class="btn btn-primary btn-block" (click)="giveAction(giveQuantity.value)">Give them</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-danger btn-block" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>

</ng-template>

<ng-template #templaceBuySpace>
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Buy some space</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Quantity</label>
        <div class="col-md-2">
          <button class="btn btn-primary btn-block" (click)="addSpace.value = addSpace_less(addSpace.value)"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
        <div class="col-md-4">
          <input name="addSpace" type="text" placeholder="Space to add" class="form-control input-md" [(ngModel)]="addspace_value"
            #addSpace (ngModelChange)="addSpaceUpdate()" />
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-block" (click)="addSpace.value = addSpace_more(addSpace.value)"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-4">
          New space<br />{{addspace_newspace}}
        </div>
        <div class="col-md-4">
          New percent occuped<br />{{addspace_newpercent}}%
        </div>
        <div class="col-md-4">
          Price<br />{{addspace_price}}
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-6">
          <button class="btn btn-primary btn-block" (click)="buySpaceAction(addSpace.value)">Buy</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-danger btn-block" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>

</ng-template>