<div class="container bottombar">
  <div>
    <ul *ngIf="player !== null">
      <li>Distance : 12km</li>
      <li>Position : ({{player.coordinates.x}}, {{player.coordinates.y}}, {{player.coordinates.z}})</li>
      <li>Money : ${{player.money}}</li>
      <li>(0) Notifications</li>
      <li>Caravane : 12h 32m</li>
    </ul>
    <ul *ngIf="player === null">
      <li>Distance : -</li>
      <li>Position : -</li>
      <li>Money : -</li>
      <li>(-) Notifications</li>
      <li>Caravane : -</li>
    </ul>
  </div>
</div>