<table class="table">
  <thead>
    <th>Name</th>
    <th>PriceToBuy</th>
    <th>PriceToSell</th>
    <th *ngIf="shop && shop.owner !== null">NbToSell</th>
    <th *ngIf="shop && shop.owner !== null">NbToBuy</th>
    <th *ngIf="shop && shop.owner !== null">Quantity</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr>
      <td colspan="7"><input style="width:100%;" class="form-control" type="text" name="filtername" [(ngModel)]="filter_name" (ngModelChange)="filterRefresh()"
          placeholder="Filter" /></td>
    </tr>
    <tr *ngFor="let lItem of itemsPaging">
      <td>{{lItem.idItem}}_{{lItem.subIdItem}}</td>
      <td>${{lItem.priceBuy}}</td>
      <td>${{lItem.priceSell}}</td>
      <td *ngIf="shop && shop.owner !== null">{{lItem.nbToSell}}</td>
      <td *ngIf="shop && shop.owner !== null">{{lItem.nbToBuy}}</td>
      <td *ngIf="shop && shop.owner !== null">{{lItem.nbToSell}}</td>
      <td>
        <button class="btn btn-primary" (click)="buy(lItem, templateBuy)" title="Buy" [disabled]="lItem.nbIntoShop === 0 && shop.owner !== null"><span class="glyphicon glyphicon-upload"></span></button>
        <button class="btn btn-primary" (click)="sell(lItem, templateSell)" title="Sell"><span class="glyphicon glyphicon-download"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<div style="display: flex;justify-content: center;">
  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [maxSize]="10"></pagination>
</div>

<ng-template #templateBuy>
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Buy {{itemToBuyOrSell.idItem}}_{{itemToBuyOrSell.subIdItem}}</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Quantity</label>
        <div class="col-md-8">
          <input name="buyQuantity" type="text" placeholder="Quantity to buy" class="form-control input-md" #buyQuantity>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block" (click)="buyAction(buyQuantity.value)">Buy</button>
        </div>
      </div>

    </fieldset>
  </form>

</ng-template>

<ng-template #templateSell>
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Sell {{itemToBuyOrSell.idItem}}_{{itemToBuyOrSell.subIdItem}}</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Quantity</label>
        <div class="col-md-8">
          <input name="sellQuantity" type="text" placeholder="Quantity to sell" class="form-control input-md" #sellQuantity>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" (click)="sellAction(sellQuantity.value)">Sell</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger btn-block" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>

    </fieldset>
  </form>

</ng-template>