<table class="table">
  <thead>
    <th>Name</th>
    <th>PriceToBuy</th>
    <th>PriceToSell</th>
    <th>NbToSell</th>
    <th>NbToBuy</th>
    <th>Quantity</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let lItem of items">
      <td>{{lItem.idItem}}_{{lItem.subIdItem}}</td>
      <td>${{lItem.priceBuy}}</td>
      <td>${{lItem.priceSell}}</td>
      <td>{{lItem.nbToSell}}</td>
      <td>{{lItem.nbToBuy}}</td>
      <td>{{lItem.quantity}}</td>
      <td>
        <button (click)="buy(lItem, templateBuy)">Buy</button>
        <button (click)="sell(lItem, templateSell)">Sell</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #templateBuy>
  <form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Buy {{itemToBuyOrSell.idItem}}_{{itemToBuyOrSell.subIdItem}}</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Quantity</label>  
      <div class="col-md-8">
      <input name="buyQuantity" type="text" placeholder="Quantity to buy" class="form-control input-md" #buyQuantity>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-primary btn-block" (click)="buyAction(buyQuantity.value)">Buy</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    
</ng-template>

<ng-template #templateSell>
  <form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Sell {{itemToBuyOrSell.idItem}}_{{itemToBuyOrSell.subIdItem}}</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Quantity</label>  
      <div class="col-md-8">
      <input name="sellQuantity" type="text" placeholder="Quantity to sell" class="form-control input-md" #sellQuantity>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <div class="col-md-12">
        <button class="btn btn-primary btn-block" (click)="sellAction(sellQuantity.value)">Buy</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    
</ng-template>