<div style="height: 100%; width: 100%; position: absolute; z-index: 10000;" [hidden]="!loadingInProgress">
	<div style="height: 100%; width: 100%; position: absolute; z-index: 10001; background: #EEE; opacity: 0.3; display: block;"
	 [hidden]="loadingInProgress"></div>
	<div style="height: 100%; width: 100%; position: absolute; z-index: 10002; display: flex;" [hidden]="loadingInProgress">
		<img src="assets/loading.gif" style="margin: auto;" />
	</div>
</div>
<div class="container" style="margin-bottom: 40px;">
	<app-statusbar></app-statusbar>
	<div class="row">
		<div class="col-md-12">
			<img src="assets/banner.jpeg" title="Banner" style="width: 100%;" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" (click)="showmenu=!showmenu"
						 aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="navbar-collapse" [ngClass]="{'collapse':!showmenu}">
						<ul class="nav navbar-nav">
							<li><a routerLink="home">Home</a></li>
							<li><a [routerLink]="['/shops', 'view']">All shops</a></li>
							<li><a [routerLink]="['/shops', 'modify']">Yours shops</a></li>
							<li><a routerLink="inventory">Inventory</a></li>
						</ul>
						<app-identification></app-identification>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div style="position: relative">
		<div style="position: absolute; right: 0px;">
			<alert *ngFor="let alert of alerts" type="{{alert.level}}">
				{{alert.message}} <button class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-remove" (click)="closeAlert(alert)"></span></button>
			</alert>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>